[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pylint = "*"
pytest = "*"
pandas = "*"
pytest-freezegun = "*"
ipdb = "*"
jupyter = "*"
plotly = "*"

[requires]
python_version = "3.7"
